
/*-------------------------------------------------------------------------------------------------------------------------------------*/
/* 顏色 */
:root {
  --green-header:linear-gradient( 90deg, #96BE78 0%, #28786E 100%);
  --blue-header:linear-gradient(90deg, #A0BEFF 0%, #1EAABE 100%);
  --red-header: linear-gradient(90deg, #DCB4A0 0%, #F07850 100%);
  --purple-header: linear-gradient(90deg, #B6BABF 0%, #8282B4 100%);

  --white: #fff;
  --black: #000;
  --font-b-color:#2878D2;
  --font-gray:#969696;
  --font-black-deep:#323232;
  --text-mute: #6c757d;
  --purple-deep: #655985;
  --bg-light: rgba(0, 0, 0, 0.1);
  --bg-dark: rgba(0, 0, 0, 0.4);
  --bg-dark-cover: rgba(0, 0, 0, 0.7);
  --bg-gray: rgba(250, 250, 250, 0.9);
  --bg-blue-deep: #3264F0;
  --header-btn:#00000066;
  --line-gray:#00000010;
  /* 按紐 */  
  --btn-style-green: #46BEBE;
  --btn-style-blue: #6478B4;
  --btn-style-red: #F06478;
  --btn-style-purple: #96648C;

  --btn-blue: #3264F0;
  --btn-blue-light:#e6f0ff;
  --btn-green: #148C50;
  --btn-red: #E61E32;
  --btn-yellow: #FAA01E;
  --btn-yellow-light:#fffaf5;
  --btn-orange: #FF5000;
  --btn-gray: #DCDCDC;
  --btn-gray-deep: #646464;  
  --btn-black-deep: #323232;
  --btn-bo-blue-deep:#a0beff;
  --input-blue:#D2F0F0;  
  --input-orange:#FFE6C8;
  --input-gray-light:#F0F0F0;

  --img-shortcut: url("../uiux/images/button-icon24-5.svg");
}

h2{
 font-size: 16px !important;
 color: var(--font-b-color);
 font-weight: bold !important;
}
/* table{
  border-collapse: separate;
  border-spacing: 0 10px; 
  margin-top: -10px; 
  thead{
    tr{
      th{
        border: none;
        div{
          padding: 10px;
          margin-left: 2px;
          margin-right: 2px;
          margin-top: 10px;
          margin-bottom: 10px;
          border: 1px solid#0000001a; 
          border-radius: 10px;
          background-color: #fffaf5;
          color: #646464;
        }
      }
    }
  }
  tbody{
     tr{
      border-collapse: collapse;
      border: 1px solid#0000001a; 
      border-radius: 10px; 
      background-color: #ffffff;
      margin-top: 10px;
      margin-bottom: 10px;

      td{
        border: 1px solid#0000001a; 
        div{
          padding: 11px;
          margin-left: 2px;
          margin-right: 2px;
          margin-top: 10px;
          margin-bottom: 10px;
          color: #000000;
        }
      }
    } 
    td{
      padding: 0px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 5px;
      div{
        height: 30px;
        border: 1px solid#0000001a; 
        border-style: solid none;
      }
    }
    td:first-child {
      padding: 0px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 5px;
      div{
        margin-left: 5px;
        padding-left: 20px;
        border: 1px solid#0000001a; 
        border-style: solid none;
        border-top-left-radius: 10px; 
        border-bottom-left-radius: 10px;
      }
    }
    td:last-child {
      padding: 0px;
      padding-top: 5px;
      padding-bottom: 5px;
      div{
        margin-right: 5px;
        padding-right: 20px;
        border: 1px solid#0000001a; 
        border-style: solid none;
        border-bottom-right-radius: 10px; 
        border-top-right-radius: 10px; 
      }
    }
  }
} */

table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #c0c0c0;
  width: 100%;
  text-align: center;
}

th,
td {
  border: 1px solid #d0d0d0;
  color: #404060;
  padding: 10px;
}

th {
  background-color: #fffaf5;
  font: bold 18px "微軟雅黑";
  color: #646464;
}

td {
  font: 16px "微軟雅黑";
  text-align: center;
}
.title {
  color: var(--black);
  font-weight: bold;
  font-size: 16px;
}
.title-8 {
  color: var(--black);
  font-weight: bold;
  font-size: 8px;
}
.title-10 {
  color: var(--black);
  font-weight: bold;
  font-size: 10px;
}
.title-12 {
  color: var(--black);
  font-weight: bold;
  font-size: 12px;
}
.title-24 {
  color: var(--black);
  font-weight: bold;
  font-size: 24px;
}
.title-background{
  padding: 10px;
  margin: 10px;
  background-color: var(--input-blue);
  align-items: flex-start;
  border-radius: 10px;
}
label{
  align-self: start;
}
.title-background-danger{
  padding: 10px;
  margin: 10px;
  background-color: var(--input-orange);
  align-items: flex-start;
  border-radius: 10px;
}
.title-background-gray{
  padding: 10px;
  margin: 10px;
  background-color: var(--input-gray-light);
  align-items: flex-start;
  border-radius: 10px;
}

table tbody #checkbox0:checked :where(#checkbox0-tr) ,
table tbody #checkbox1:checked  #checkbox1-tr,
table tbody #checkbox2:checked  #checkbox2-tr{
  background-color: red !important;
}

/* table tbody #checkbox2-tr{
  background-color: red !important;
} */
/* .row-border{
  border-style: solid; 
  border-color: #D3D3D3;
  border-bottom: 0px; 
}
.row-border-bottom{
  border-style: solid; 
  border-color: #D3D3D3;
}
.row-border-middle{
  border-style: solid; 
  border-color: #D3D3D3;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px;
}
.row-border-bottom2{
  border-style: solid; 
  border-color: #D3D3D3;
  border-top: 0px; 
} */

.col-border{
  border-style: solid; 
  border-right: 0px;
  border-color: #D3D3D3;
}
th.col-border{
  border-style: solid;
  border-right: 0px;
  border-color: #D3D3D3;
  border-width: 2px !important;
}
td.col-border{
  border-style: solid;
  border-right: 0px;
  border-color: #D3D3D3;
  border-width: 2px !important;
}
.col-border-right{
  border-style: solid; 
  border-color: #D3D3D3;
}
th.col-border-right{
  border-style: solid; 
  border-color: #D3D3D3;
  border-width: 2px !important;
}
td.col-border-right{
  border-style: solid; 
  border-color: #D3D3D3;
  border-width: 2px !important;
}
.danger{
  color: #ff0000;
  font-size: 14px;
}
label{
  font-size: 14px;
}
td{
  border-style: solid; 
  border-color: #D3D3D3;
}
body {
  background-color: var(--bg-gray) !important;
}
.bg-gray{
  background-color: var(--bg-gray) !important;
}
